<div class="width">
  <h1>books</h1>


  <table class="b-books-table">
    <thead>
    <tr>
      <th class="md-caption" style="cursor: pointer;">
        Заголовок
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Список авторов
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Количество страниц
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Название издательства
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Год публикации
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Дата выхода в тираж
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        ISBN
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Обложка
        <span></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr  ng-repeat="book in bks.books | orderBy: sort : sortDesc">
      <td class="md-caption">{{book.bookHeader}}</td>
      <td class="md-caption">
        <span ng-repeat="author in book.authors">{{author.first}} {{author.last}} ,</span>
      </td>
      <td class="md-caption">{{ book.lengthBool }}</td>
      <td class="md-caption">{{ book.publisher  }}</td>
      <td class="md-caption">{{ book.publishedDate | date:'yyyy-MM-dd' }}</td>
      <td class="md-caption">{{ book.reliseDate | date:'yyyy-MM-dd'}}</td>
      <td class="md-caption">{{ book.ISBN }}</td>
      <td class="md-caption"><img ng-src="{{ book.picture }}" alt=""/></td>
    </tr>
    </tbody>
  </table>
</div>
