.b-books{

}

.b-books-table{
  border: 1px solid #c7c7c7;
  width: 100%;;
  border-collapse: collapse;
}

.b-books-table tr{
  border-bottom: 1px solid #c7c7c7;
}
.b-books-table th,
.b-books-table td{
  padding:5px 10px;
}
