<div class="width">
<nav-bar></nav-bar>
  <h1>books</h1>


  <table class="b-books-table">
    <thead>
    <tr>
      <th class="md-caption" style="cursor: pointer;">
        Заголовок
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Список авторов
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Количество страниц
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Название издательства
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Год публикации
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Дата выхода в тираж
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        ISBN
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;">
        Обложка
        <span></span>
      </th>
      <th class="md-caption" style="cursor: pointer;"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="book in bks.books | orderBy: sort : sortDesc">
      <td class="md-caption" ui-sref="auth.book({id: book._id})">{{book.bookHeader}}</td>
      <td class="md-caption" ui-sref="auth.book({id: book._id})">
        <span ng-repeat="author in book.authors">{{author.first}} {{author.last}} ,</span>
      </td>
      <td class="md-caption" ui-sref="auth.book({id: book._id})">{{ book.lengthBool }}</td>
      <td class="md-caption" ui-sref="auth.book({id: book._id})">{{ book.publisher }}</td>
      <td class="md-caption" ui-sref="auth.book({id: book._id})">{{ book.publishedDate | date:'yyyy-MM-dd' }}</td>
      <td class="md-caption" ui-sref="auth.book({id: book._id})">{{ book.reliseDate | date:'yyyy-MM-dd'}}</td>
      <td class="md-caption" ui-sref="auth.book({id: book._id})">{{ book.ISBN | ISNB}}</td>
      <td class="md-caption" ui-sref="auth.book({id: book._id})"><img ng-src="{{ book.picture }}" alt=""/></td>
      <td class="md-caption">
        <md-button class="md-fab md-mini md-warn" aria-label="Use Android">
          <md-icon md-svg-src="../assets/images/delete.svg" style="color: white;"
                   ng-click="bks.deleteBook(book._id)"></md-icon>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>

  <md-button class="md-fab md-primary books-plus-btn" aria-label="Use Android" ui-sref="auth.book()">
    <md-icon md-svg-src="../assets/images/plus.svg"></md-icon>
  </md-button>
</div>
